@define-mixin clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}

@define-mixin atSmallest {
	@media (max-width: 360px) {
		@mixin-content;
	}
}

@define-mixin atSmall {
	@media (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin atMiddleMedium {
	@media (min-width: 890px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1200px) {
		@mixin-content;
	}
}
