.large-hero {
	position: relative;
	border-bottom: 10px solid $mainBlue;

	&__image {
		display: block;
		filter: brightness(80%) blur(3px);
	}

	&__text-content {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		transform: translateY(-54%);
	}

	&__title {
		font-weight: 300;
		color: $mainBlue;
		margin: 0;
		font-size: 2.5rem;

		@mixin atSmall {
			font-size: 2.8rem;
		}

		@mixin atMedium {
			font-size: 3.2rem;
		}

		@mixin atLarge {
			font-size: 3.5rem;
		}
	}

	&__subtitle {
		font-weight: 300;
		color: $mainBlue;
		font-size: 1.4rem;
		margin: 0 0 1rem 0;

		@mixin atSmall {
			font-size: 1.6rem;
			margin: 0 0 1.4rem 0;
		}

		@mixin atMedium {
			font-size: 1.8rem;
			margin: 0 0 1.6rem 0;
		}

		@mixin atLarge {
			font-size: 2rem;
			margin: 0 0 1.8rem 0;
		}
	}

	&__description {
		font-weight: 100;
		color: #fff;
		font-size: 1.1rem;
		text-shadow: 1px 1px 20px black;
		max-width: 30rem;
		margin: 0 auto;

		@mixin atSmall {
			font-size: 1.2rem;
		}

		@mixin atMedium {
			font-size: 1.3rem;
		}

		@mixin atLarge {
			font-size: 1.4rem;
		}
	}
}
