.product-item {
	position: relative;
	padding-bottom: 3rem;
	text-align: center;

	@mixin atSmall {
		padding-bottom: 1rem;
		text-align: left;
		padding-left: 95px;
	}

	@mixin atMedium {
		&--fixed-min-height {
			min-height: 385px;
		}
	}

	@mixin atMiddleMedium {
		&--fixed-min-height {
			min-height: 260px;
		}
	}

	@mixin atLarge {
		&--fixed-min-height {
			min-height: 250px;
		}
	}

	&__icon {
		display: block;
		margin: 0 auto;
		transform: scale(.7);

		@mixin atSmall {
			position: absolute;
			left: 0;
		}

		@mixin atMedium {
			transform: scale(1);
		}
	}

	&__title {
		font-weight: 300;
		margin-bottom: .8rem;
		margin-top: .7em;
		font-size: 1.6rem;
		text-align: center;

		@mixin atSmallest {
			font-size: 1.4rem;
		}

		@mixin atSmall {
			font-size: 1.875rem;
			margin-top: 1em;
			text-align: left;
		}
	}

	p {
		text-align: center;

		@mixin atSmall {
			text-align: left;
		}
	}
}
